{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>books</title>
    </head>
<body>
    <br>
    <div class="create_container">
        <form action="{% url 'books' %}" method="POST">
            {% csrf_token %} <!-- eto trebovanie bezopasnosti django -->
          <input
              class="create_input"
              type="text"
              placeholder="Введите название книги"
              name="todo_text" 
          />
          <button class="create_button">Добaвить</button>
        </form>
      </div>
    <!-- <h2>BooksShop Marketplace</h2> -->
    <br>
    {% for book in book_list %}
        <hr>
        <p>{{ book.title }}</p>
        <p>{{ book.subtitle }}</p>
        <p>{{ book.description }}</p>
        <br>
    {% endfor %}
</body>
</html>
