{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TODO</title>
        <!-- <link rel="stylesheet" href="./styles/index.css" /> -->
        <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
        <!-- <link rel="stylesheet" href="./styles/checkbox.css"> -->
        <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
    </head>
<body>
    <!-- <h2>This test page...</h2>
        {{ todo_list }}
    {% for todo in todo_list %}
        <h3>{{ todo.text }} - {{ todo.created_at }}</h3>
    {% endfor %} -->
    <section>

        <div class="create_container">
          <form action="{% url 'add-todo' %}" method="POST">
              {% csrf_token %} <!-- eto trebovanie bezopasnosti django -->
            <input
                class="create_input"
                type="text"
                placeholder="Введите название продукта"
                name="todo_text" 
            />
            <button class="create-button">Добавить</button> <a href="{% url 'home' %}" class="main-page">Вернуться</a>
          </form>
        </div>

        <div class="todo_container">

        {% for todo in todo_list %}
            <div class="todo_item
                {% if todo.is_favorite %}
                    marked
                {% elif todo.is_closed %}
                    done
                {% endif %}
            
            ">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                        <input type="checkbox" 
                            {% if todo.is_closed %}
                                checked
                            {% endif %}
                        />
                        <span class="checkmark"></span>
                    </label>
                    <h4><a href="{% url 'close-todo' todo.id %}">{{ todo.text }}</a></h4>
                </div>
                <div class="todo_item_footer">
                    <!-- <p>17.11.2020 <span>17:22</span></p> -->
                    <p>{{ todo.created_at }}</p>
                    <p>{{ todo.date }}</p>
                    <div class="action_button">
                        {% if todo.is_favorite %}
                            <a href="{% url 'unmark-todo' todo.id %}"><img src="{% static './icons/marked.png' %}" /></a>                        
                        {% else %}
                            <a href="{% url 'mark-todo' todo.id %}"><img src="{% static './icons/unmarked.png' %}" /></a>                
                        {% endif %}

                        <a href="{% url 'delete-todo' todo.id %}"><img src="{% static './icons/delete.png' %}" /></a>
                    </div>
                </div>
            </div>
            <!-- <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_button">
                        <img src="./icons/marked.png" />
                        <img src="./icons/delete.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_button">
                        <img src="./icons/unmarked.png" />
                        <img src="./icons/delete.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item marked">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_button">
                        <img src="./icons/marked.png" />
                        <img src="./icons/delete.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                    <input type="checkbox" >
                    <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_button">
                        <img src="./icons/unmarked.png" />
                        <img src="./icons/delete.png" />
                    </div>
                </div>
            </div>

            <div class="todo_item done">
                <div class="todo_item_header">
                    <label class="checkbox_container">
                    <input type="checkbox" checked="checked">
                    <span class="checkmark"></span>
                    </label>
                    <h4>Купить молоко</h4>
                </div>
                <div class="todo_item_footer">
                    <p>17.11.2020 <span>17:22</span></p>
                    <div class="action_button">
                        <img src="./icons/marked.png" />
                        <img src="./icons/delete.png" />
                    </div>
                </div>
            </div> -->
        {% endfor %}
        </div>
    </section>
</body>
</html>